﻿@model Feinkosthandel.Models.LoginVM

@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-5">

        <div style="padding-top:50px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Login</div>
                </div>
                <div class="panel-body">

                    <form method="post">
                        <div class="dl-horizontal">
                            <dl>
                                <dt>E-Mail:</dt>
                                <dd><input style="color:black; border: solid; width:200px" type="text" name="@nameof(Model.Email)" placeholder=" E-mail"/></dd>
                                <dt>&nbsp;</dt>
                                <dd></dd>
                                <dt>Passwort:</dt>
                                <dd><input style="color:black; border:solid; width:200px" type="password" name="@nameof(Model.Password)" placeholder=" Password"/></dd>
                                <dt>&nbsp;</dt>
                                <dt></dt>
                                <dd></dd>
                                <dd>
                                    <button type="submit">Einloggen</button>
                                </dd>
                            </dl>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

