﻿
@{
    ViewBag.Title = "Index";
}

<style>
    .setcenter {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        padding: 20px;
        margin-left: -100px;
        margin-top: -100px;
        background: #fff;
        box-sizing: border-box;
    }

</style>

<h2>Discount Win Chance</h2>


    <div class="container">
        <div class="row setcenter">
            <!--irgendwas passt noch nicht, url überprüfen, ob überhaupt link Game/Index2/1 ist-->
            <input type="button" value="Click" onclick="location.href='@Url.Action("Index2", "Game",new { id = 1 }) '"/>
        </div>
    </div>

