﻿@model Feinkosthandel.Models.AdminProductVM

<style>
    .rightside {
        text-align: right;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
    }
</style>

<div class="row" style="padding-top:70px">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="form-group">
                    <select name="CategoryListSelection">
                        @foreach (var item in Model.CatList)
                        {
                            <option value="@item.id">@item.name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <select name="ManufacturerListSelection">
                        @foreach (var item in Model.ManuList)
                        {
                            <option value="@item.ManuId">@item.ManufacturerName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <select name="UnitListSelection">
                        @foreach (var item in Model.UnitList)
                        {
                            <option value="@item.UnitId">@item.UnitName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="@Model.ProductName" placeholder="ProductName" />
                </div>
                <div class="form-group">
                    <input type="text" name="@Model.ProductDescr" placeholder="ProductName" />
                </div>
                <div class="form-group">
                    <input type="text" name="@Model.UnitPrice" placeholder="ProductName" />
                </div>
                <div class="form-group">
                    <input type="text" name="@Model.UnitAmount" placeholder="ProductName" />
                </div>
                <div class="form-group">
                    <input type="text" name="@Model.CampWas" placeholder="ProductName" />
                </div>
                <!--eventuell bild hochladen lassen und per hidden feld pfad speichern und somit auch gleich bildernamen-->
                <div class="form-group">
                    <input type="text" name="@Model.ImagePath" placeholder="ProductName" value="/Content/Images/" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" />
                </div>
            </div>
        }
    </div>
    <div class="col-lg-9">
        <form method="post" action="/Admin/CreateCategory">
            <input type="text" name="categoryname" placeholder="New Category" />
            <input type="submit" value="create" onchange="this.form.submit()" />
        </form>
        <form method="post" action="/Admin/CreateManufacturer">
            <input type="text" name="manufacturername" placeholder="New Manufacturer" />
            <input type="submit" value="create" onchange="this.form.submit()" />
        </form>
        <form method="post" action="/Admin/CreateUnit">
            <input type="text" name="unitname" placeholder="New Unit" />
            <input type="text" name="unitabbreviation" placeholder="Abbreviation" />
            <input type="submit" value="create" onchange="this.form.submit()" />
        </form>

        <div class="col-lg-3">
            <div class="form-group">
                <div class="form-group">
                    <table class="table table-hover">
                        @foreach (var item in Model.CatList)
                        {
                            <tr>

                                <td>@item.id</td>
                                <td>@item.name</td>
                                <td>
                                    <form method="post" action="/Admin/DeleteCategory">
                                        <input type="submit" value="Delete" />
                                        <input type="hidden" name="cid" value="@item.id" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <table class="table table-hover">
                    @foreach (var item in Model.ManuList)
                    {
                        <tr>
                            <td>@item.ManuId</td>
                            <td>@item.ManufacturerName</td>
                            <td>
                                <form method="post" action="/Admin/DeleteManufacturer/">

                                    <input type="submit" value="Delete" />
                                    <input type="hidden" name="mid" value="@item.ManuId" />
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <table class="table table-hover">
                    @foreach (var item in Model.UnitList)
                    {
                        <tr>
                            <td>@item.UnitId</td>
                            <td>@item.UnitName</td>
                            <td>
                                <form method="post" action="/Admin/DeleteUnit">

                                    <input type="submit" value="Delete" />
                                    <input type="hidden" name="uid" value="@item.UnitId" />
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
