﻿@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>HOFBAUER'S LAP FEINKOST-ONLINE-SHOP</h1>
    <img class="img-responsive" src =@Url.Content("~/Content/Images/hofbauer.jpg") alt="Me" style="width:200px; height:300px;"/> 
</div>

