﻿
<div class="container">
    <div class="col-lg-2">
        @{
            Html.RenderAction("_IndexLeft", "Test");
         }
    </div>

    <div class="col-lg-10">
        @{ 
            Html.RenderAction("_IndexMain", "Test");
        }
    </div>
</div>
