﻿

th {
    color: darkblue;
    font-family: Impact;
    font-size: 140%;
    font-weight: bold;
    text-shadow: inherit;
}

td {
    color: black;
    font-family: Verdana;
    font-size:110%;
    font-weight:bold;
}

img {
    width: 50px;
    height: 50px;
}

#imagehover {
    color: black;
}

    #imagehover:hover {
        background-color: darkorange !important;
    }

span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

nput {
    border: 0;
    width: 2%;
}


    nput::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input:disabled {
        background-color: grey;
    }
    
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
}

.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.mydlgroup > dt {
    height: 40px;
    font-size: 150%;
}

.mydlgroup > dd {
    height: 40px;
    font-size: 150%;
}

.mypanelfontsize {
    font-size: 180%;
}

.myformheights {
    height: 50px;
    font-size: 150%;
}

.mytextboxconfig {
    height: 35px;
    font-size: 130%;
}

.mylisthover:hover {
    background-color: lightcyan;
}