﻿body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url(../../Content/Images/background.jpg);
    background-size:cover;
    background-position:top;
    background-repeat:no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    height:100%;
    width:100%;
    margin:0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
