﻿@model Feinkosthandel.Models.OrderFinish

@{
    ViewBag.Title = "FinishOrder";
}

<form method="post">
    <h2>Bestellung</h2>
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">

                    <h2 class="panel-title">Ihr Warenkorb</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th width="70px">Amount</th>
                            <th width="200px">Product</th>
                            <th style="text-align:center">Price</th>
                        </tr>
                        @foreach (var item in Model.ShoppingCart)
                        {
                            <tr>
                                <td style="text-align:center">@item.Amount x</td>
                                <td>@item.Name</td>
                                <td style="text-align:center">€ @(item.LinePrice.ToString("0.00")) ,-</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="3">Produktgesamtpreis: € @(Model.ProductsTotal.ToString("0.00")) ,-</td>
                        </tr>
                        <tr>
                            <td colspan="3">Gesamtsumme: € @(Model.TotalPrice.ToString("0.00")) ,-</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Rechnungsadresse</h2>
                </div>

                <div class="panel-body">
                    <div class="mypanelfontsize">@Model.Titel @Model.Nachname @Model.Nachname ID: @Model.OrderId</div>
                    <div class="mypanelfontsize">@Model.RechnungsStreet, @Model.RechnungsZip @Model.RechnungsCity</div>
                </div>
            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">

                    <h2 class="panel-title">Lieferadresse falls abweichend</h2>
                </div>
                <div class="panel-body">
                    <div class="form-group myformheights">
                        @Html.LabelFor(model => model.Lieferadresse, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Lieferadresse, new { htmlAttributes = new { @class = "form-control mytextboxconfig", @Value = @Model.Lieferadresse, placeholder = "Street" } })
                            @Html.ValidationMessageFor(model => model.Lieferadresse, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group myformheights">
                        @Html.LabelFor(model => model.LieferZip, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LieferZip, new { htmlAttributes = new { @class = "form-control mytextboxconfig", @Value = Model.LieferZip, placeholder = "Street" } })
                            @Html.ValidationMessageFor(model => model.LieferZip, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group myformheights">
                        @Html.LabelFor(model => model.LieferCity, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LieferCity, new { htmlAttributes = new { @class = "form-control mytextboxconfig", @Value = Model.LieferCity, placeholder = "Street" } })
                            @Html.ValidationMessageFor(model => model.LieferCity, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Liefer- und Zahlungsmethode</h3>
                </div>
                <div class="panel-body">
                    <!--Styles in productinfo.css-->
                    <dl class="dl-horizontal mydlgroup">
                        <dt>Lieferdatum:</dt>
                        <dd>
                            <input type="date" name="@nameof(Model.DelieveryDate)" value="@ViewBag.date" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" 
                                   onchange="this.form.submit()"/>
                        </dd><!--YYYY-MM-DD  ... DD/MM/YYYY-->
                        <hr />
                        <dt>Lieferzeitpunkt:</dt>
                        <dd>
                            <select class="" id="DelieveryTime" name="@nameof(Model.Delievery)" style="height:30px" onchange="this.form.submit()">
                                @foreach (var item in Model.DelieveryTimeList)
                                {
                                    
                                    <option value="@item.DelieverTimeId" @((item.DelieverTimeId == Model.Delievery) ? "selected" : "")>@item.DelieverTimeName @(item.From):@(item.To)</option>
                                    
                                }

                            </select>
                        </dd>
                        <hr />
                        <dt>Zahlungsart:</dt>
                        <dd>
                            <select class="" id="PaymentType" name="@nameof(Model.Payment)" style="height:30px" onchange="this.form.submit()">
                                @foreach (var item in Model.PaymentTypeList)
                                {
                                    <option value="@item.PaymentTypeId"@((item.PaymentTypeId == Model.Payment) ? "selected" : "")>@item.PaymentTypeName</option>
                                }
                            </select>
                        </dd>
                        <hr />
                    </dl>

                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-1">
            <div class="form-group">
                <input type="button" class="btn btn-default" value="Zurück" onclick="location.href='@Url.Action("Index", "ShoppingCart")'" />
            </div>

        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Bezahlen" formaction="FinalizeOrder"/>
            </div>
        </div>
    </div>
    <input type="hidden" name="@nameof(Model.OrderId)" value="@Model.OrderId" />
    <input type="hidden" name="@nameof(Model.RechnungsCity)" value="@Model.RechnungsCity" />
    <input type="hidden" name="@nameof(Model.RechnungsStreet)" value="@Model.RechnungsStreet" />
    <input type="hidden" name="@nameof(Model.RechnungsZip)" value="@Model.RechnungsZip" />
</form>