﻿@model IEnumerable<Feinkosthandel.Models.ShoppingCartIndexVM>

@{
    ViewBag.Title = "Index";
}

<style>
    td {
        color: brown;
    }

    .gespreis {
        border:groove;
        border-width:10px;
        color:brown;
        font-size:x-large;
        text-align:center;
    }
</style>

<h2>Mein Einkaufswagerl</h2>


<table class="table table-hover" style="background-color:rgba(164, 147, 147, 0.48)">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitAmount)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinePrice)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@Url.Content(item.ImagePath)" alt="B" style="height:50px;width:50px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitAmount) @Html.DisplayFor(modelItem => item.UnitAbbreviation)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinePrice)
            </td>
            <td>
                <button type="button" onclick="location.href='@Url.Action("Details", "Product",new { id = item.ProductId })'" class="btn btn-default">Details</button>
                <button type="button" onclick="location.href='@Url.Action("RemoveProduct","ShoppingCart", new { id = item.ProductId })'" class="btn btn-default">Delete</button>
                @*@Html.ActionLink("Details", "Details", "Product", new { id = item.ProductId }, new { area = "" }) |
                    @Html.ActionLink("Delete", "RemoveProduct", new { id = item.ProductId })*@
            </td>

        </tr>

    }
</table>

<div class="gespreis">
    <p style="color:brown"><b>Gesamtpreis: € @ViewBag.summe ,-</b></p>
</div>
<p><button type="button" onclick="location.href='@Url.Action("FinishOrder", "ShoppingCart")'" class="btn btn-default">Zur Bestellung</button></p>
