﻿@model Feinkosthandel.Models.ThanksVM

@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks for Shopping ;)</h2>
<p>Ihr Gesamtpreis beträgt: - @Model.TotalPriceGross</p>
<p>Ihre Bestellung wird am: - @Model.Date.ToShortDateString() zwischen @Model.From Uhr und @Model.To Uhr geliefert</p>
<p>Ihre Bezahlungsart ist - @Model.PaymentName</p>
<p>@ViewBag.thanks</p>

