﻿@model Feinkosthandel.Models.CategorySearchVM
@using (Html.BeginForm("Index", "ShoppingCart/SearchIndex", FormMethod.Get))
{
    int selCat = (int)Session["selectioncat"];
    string selSearch = Session["selectionsearch"] as string;


    <select name="searchCat" style="color:black" onchange="this.form.submit()">        
        @foreach (var item in Model.Catlist)
        {
            <option  value="@item.id" @(item.id==selCat?"selected":"")>@item.name</option>
        }
    </select>
    <ul class="nav navbar-nav">
        <li>@Html.TextBox("searchstring", ViewBag.CurrentFilter as string, new { @class = "form-control", onchange="this.form.submit()", @Value = selSearch})</li>
        <li><input type="submit" value="Search" class="btn btn-default" /></li>
    </ul>
}

