﻿
<ul>
    <li><a href="/Product/Index/1">Käse</a></li>
    <!--in product controller int id erweitern und listenrückgabe pro categorie änder-->
    <li>Wurst</li>
    <li>Getränke</li>
    <li>Obst</li>
</ul>
