﻿
<style>
    a.myhyper {
        color: #ffffff;
        font-size: large;
    }

    a:hover {
        color: black;
    }

    li > a:hover {
        color: black;
        text-decoration: none;
        background-color: transparent !important;
    }
</style>

<div class="navbar bg-primary navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            @Html.ActionLink("Anwendungsname", "Index", "Home", new { area = "" }, new { @class = "navbar-brand myhyper" })
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "myhyper" })</li>
                }
                else
                {
                    <li>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "myhyper" })</li>
                    <li>@Html.ActionLink("Registrieren", "Register", "Account", new { area = "" }, new { @class = "myhyper" })</li>
                }
            </ul>
        </div>
        <div class="navbar-right" style="padding:10Px">

            @Html.Action("Cats", "Navigation")

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">


                @if (User.Identity.IsAuthenticated)
                {


                    <li>@Html.ActionLink("Produkte", "Index", "Product", new { area = "" }, new { @class = "myhyper" })</li>
                    <li>@Html.ActionLink("Gewinnspiel", "Index", "Game", new { area = "" }, new { @class = "myhyper" })</li>
                    <li>@Html.ActionLink("Einkaufswagerl", "Index", "ShoppingCart", new { area = "" }, new { @class = "myhyper" })</li>

                }
                else
                {
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "myhyper" })</li>

                }
            </ul>
        </div>

    </div>
</div>
