﻿@model IEnumerable<Feinkosthandel.Models.CategoryVM>



<h3 style="padding-top:30px">Kategrien</h3>


    @foreach (var item in Model)
    {
        <a style="text-decoration:none" href="/Product/Index/@item.id">
            <li class="list-group-item mylisthover" style="color:black">
                @item.name.Substring(0,item.name.Length<=7?item.name.Length:7)
                <span class="badge badge-primary badge-pill">@item.productcounter</span>
            </li>

        </a>
        
    }



