﻿
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
        //alert(ev.dataTransfer.getData("text"));
    }
</script>

<style>
    .outerbox {
        padding-top:70px;
        width:800px;
        height:800px;
    }

    .innerbox {
        float:left;
        background:#808080;
    }
</style>

<h2>Widerstandsschaltungen</h2>

<div style="padding-top:70px">
</div>
<div>
    <figure>
        <img style="border:solid" id="drag1" src="~/Content/Images/Getraenke/coca-cola.jpg" draggable="true" ondragstart="drag(event)" width="69" height="69">
    </figure>
    <figure>
        <img style="border:solid" id="drag2" src="~/Content/Images/Getraenke/fanta.jpg" draggable="true" ondragstart="drag(event)" width="69" height="69" />
    </figure>
</div>

<div class="outerbox">
    @for (int i = 0; i < 11; i++)
    {

        for (int j = 0; j < 11; j++)
        {

            <div class="innerbox" style="border:solid; width:69px; height:69px" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

        }

    }
</div>
<!--<div style="border:solid; width:99px; height:69px"  id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>-->
<!--<div style="border:solid; width:99px; height:69px" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>-->
