﻿@model IEnumerable<Feinkosthandel.Models.ProductIndexVM>
<div>
    <table class="table-hover" style="padding-top:120px">
        <tr>
            <th width="150px">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th width="200px">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th width="200px">
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th width="200px">
                @Html.DisplayNameFor(model => model.UnitPriceGross)
            </th>


            <th width="150px">
                @Html.DisplayNameFor(model => model.UnitAmount)
            </th>
            <th width="150px">
                Picture
            </th>
            <th width="100px">Details</th>
            <th width="100px">ShoppingCart</th>
            <th width="120px">Amount</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    € @Html.DisplayFor(modelItem => item.UnitPriceGross) ,-
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.UnitAmount) @Html.DisplayFor(modelItem => item.UnitAbbreviation)
                </td>
                <td>
                    <img src="@Url.Content(item.ImagePath)" alt="B" style="height:50px;width:50px;" />
                </td>
                <td>
                    <a href="/Product/Details/@item.Id"><img src="~/Content/Images/Lupe.jpg" alt="Lupe" /></a>
                </td>
                <td>
                    <a href="/Product/Cart/@item.Id"><img src="~/Content/Images/Shoppingcart.jpg" alt="ShoppingCart" /></a>
                </td>
                <td>
                    <div class="qty">
                        <span id="imagehover" class="minus" onclick="countminus(@item.Id)">-</span>
                        <span><input type="text" class="count" id="@(item.Id+"amountcounter")" name="amount" value="5" style="width:35px; text-align:center" /></span>
                        <span id="imagehover" class="plus" onclick="countplus(@item.Id)">+</span>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>