﻿@model Feinkosthandel.Models.ProductDetailVM

@{
    ViewBag.Title = "Details";
}
<style>
    dt {
        font-size:18px;
        font-family: Verdana;
        text-shadow:inherit;
        text-align:left;
        font-weight:bold;
    }

    dd {
        font-size:18px;
        font-family:Verdana;
        text-align:left;
        font-weight:bold;
        color:peru;
    }

    h2 {
        font-weight:bold;
    }

    .detailimage {
        width:550px;
        height:400px;
    }

</style>



<div>
    <h2>@Model.Name</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPriceGross):
        </dt>

        <dd>
            € @Html.DisplayFor(model => model.UnitPriceGross) ,-
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitAmount):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitAmount) @Html.DisplayFor(model => model.UnitAbbreviation)
        </dd>

        <dt>Netto:</dt>
        <dd>
            € @Model.UnitPrice ,-
        </dd>
        <dt>
            
        </dt>

        <dd>
            <img class="detailimage" src="@Url.Content(Model.ImagePath)" alt="Bild" />;
        </dd>

    </dl>
</div>

<div>
    <div class="row">
        <div class="col-lg-2">
            <button type="button" onclick="location.href='@Url.Action("Index", "Product")'" class="btn btn-default">Zurück</button>
        </div>
        <div class="col-lg-5">
            <form method="post" action="/ShoppingCart/Add">
                <input type="hidden" value="@Model.Id" name="pid" />
                <div class="qty">
                    <span id="imagehover" class="minus" onclick="countminus(@Model.Id)">-</span>
                    <span><input type="text" class="count" id="@(Model.Id+"amountcounter")" name="amount" value="1" style="width:35px; text-align:center" /></span>
                    <span id="imagehover" class="plus" onclick="countplus(@Model.Id)">+</span>
                    <button class="btn btn-default" type="submit"><span class="form-group glyphicon glyphicon-shopping-cart"></span> In den Einkaufswagen</button>
                </div>

            </form>
        </div>
        
    </div>
</div>
<div>
</div>
