﻿@model IEnumerable<Feinkosthandel.Models.ProductIndexVM>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "pagingType": "full_numbers"
        });
    });
</script>

<div style="padding-top:50px">
    
    <table class="table table-hover" id="example" style="padding-top:120px; background-color:rgba(164, 147, 147, 0.48)">
        <tr>
            <th width="150px">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th width="200px">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th width="200px">
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th width="200px">
                @Html.DisplayNameFor(model => model.UnitPriceGross)
            </th>


            <th width="150px">
                @Html.DisplayNameFor(model => model.UnitAmount)
            </th>
            <th width="150px">
                Picture
            </th>
            <th width="100px">Details</th>
            <th width="250px">ShoppingCart</th>
            
        </tr>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    € @Html.DisplayFor(modelItem => item.UnitPriceGross) ,-
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.UnitAmount) @Html.DisplayFor(modelItem => item.UnitAbbreviation)
                </td>
                <td>
                    <img src="@Url.Content(item.ImagePath)" alt="B" style="height:50px;width:50px;" />
                </td>
                <td>
                    <a href="/Product/Details/@item.Id"><span style="font-size:2.5em;" class="glyphicon glyphicon-eye-open"></span></a>
                </td>
                
                <td>
                    <form method="post" action="/ShoppingCart/Add">
                        <!--<a href="/ShoppingCart/Add"><span style="font-size:2.5em;" class="glyphicon glyphicon-shopping-cart"></span></a>-->
                        <div class="qty">
                        
                            <button type="submit" class="btn btn-default" >
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </button>
                            <input type="hidden" name="pid" value="@item.Id" />


                            <span id="imagehover" class="minus" onclick="countminus(@item.Id)">-</span>
                            <span><input type="text" class="count" id="@(item.Id+"amountcounter")" name="amount" value="1" min="1" max="@item.CampWas" style="width:55px; text-align:center" /></span>
                            <span id="imagehover" class="plus" onclick="countplus(@item.Id,@item.CampWas)">+</span>
                        </div>
                    </form>
                </td>
                
            </tr>
        }

    </table>
</div>

