﻿@model IEnumerable<Feinkosthandel.Models.ProductIndexVM>

<div class="container">
    <div class="col-lg-2">
        <!--left side menu-->
        @foreach(var product in Model)
        {
            <ul>
                <li>@product.Category.ToString()</li>
            </ul>
        }
    </div>

    <div class="col-lg-10">
        <!--OverView from Products sorted by selected Category-->
    </div>
</div>
